/* ===============Dung base=============== */
* {
  box-sizing: border-box;
}
html {
  /* 1rem =10px */
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  width: 100vw;
  overflow-x: hidden;
}
:root {
  --bg-coating: #6666ff60 !important;
}
/*===============common===============  */
.active {
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #000;
}
/*===============header===============  */
header .btn:hover {
  background-color: white !important;
  color: black !important;
}
/*===============nav===============  */
.logo-header {
  width: 150px;
}
.nav .nav-item .nav-link {
  color: #000;
}
.input-group {
  max-width: 200px;
}
.input-group .input-search {
  opacity: 0;
  transition: opacity 0.5s;
  visibility: hidden;
}
.input-group.active-search .input-search {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}
/*===============hero===============  */
.hero .carousel .carousel-inner .carousel-item {
  height: 700px;
}
.slide-item {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  flex-direction: column;
}
.content {
  color: white;
  margin: auto 170px;
}
.hero .carousel .carousel-inner .carousel-item .slide-item .content p {
  font-size: 2.5rem;
}
.hero .carousel .carousel-inner .carousel-item .slide-item .content span {
  display: block;
  font-size: 4.5rem;
}
.hero .carousel .carousel-inner .carousel-item .slide-item .content a {
  padding: 0 20px;
}
.hero
  .carousel
  .carousel-inner
  .carousel-item
  .slide-item
  .content
  .hero__btn--shopnow {
  background-color: #6666ff60;
}
.hero
  .carousel
  .carousel-inner
  .carousel-item
  .slide-item
  .content
  .hero__btn--shopnow:hover {
  background-color: #000;
  transition: 0.5s;
}
.feature {
  position: relative;
}
.hot {
  position: absolute;
  top: -7px;
  left: 44px;
}
/*===============category===============  */
main .category {
  height: 300px;
  width: 100vw;
}
main .category .category__item {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.197);
  position: relative;
}
main .category .category__item .btn-shop {
  text-align: center;
  width: 100px;
  height: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.197);
}
main .category .category__item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: var(--bg-coating);
  opacity: 0;
}
main .category .category__item:hover .overlay {
  opacity: 1;
}
main .category .category__item .btn-shop {
  display: none;
  transform: translate(20px, -72px);
}
main .category .category__item:hover .btn-shop {
  color: #fff;
  font-size: 1.5rem;
  display: block;
  animation: scale 0.5s linear;
}
@keyframes scale {
  0% {
    transform: translate(20px, -72px) scale(0);
  }
  25% {
    transform: translate(20px, -72px) scale(0.25);
  }
  50% {
    transform: translate(20px, -72px) scale(0.5);
  }
  75% {
    transform: translate(20px, -72px) scale(0.75);
  }
  100% {
    transform: translate(20px, -72px) scale(1);
  }
}

main .category .category__item .title {
  margin: 50px;
}
main .category .category__item:hover .title {
  color: #fff;
}
main .category .category__item .title .category__item--title-header {
  font-size: 3.5rem;
}
/*===============over view===============  */
.overview .overview__heading h2 {
  font-size: 4rem;
}
.overview .overview__heading .overview__list .overview__item:hover {
  border-bottom: 1px solid black;
  font-weight: bold;
  transition: 0.75s;
}
.overview
  .overview__heading
  .overview__list
  .overview__item.overview__item--active {
  border-bottom: 1px solid black;
  font-weight: bold;
}

.overview .container .carousel .name-item:hover {
  color: #6666ffa1 !important;
}
.overview .container .carousel .heart1:hover {
  background-image: url(../images/icon-heart-02.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overview .carousel .thumb {
  height: 500px;
  overflow: hidden;
}
.overview .carousel .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.overview .carousel .thumb:hover img {
  transform: scale(1.25);
}
.thumb {
  position: relative;
}
.thumb .quick-view {
  background: #fff;
  color: #000;
  border: none;
  transition: 0.5s;
}
.thumb .quick-view:hover {
  color: #fff;
  background-color: #000;
}
.thumb:hover .quick-view {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  font-size: 2rem;
  z-index: 10;
  animation: scaleqv 0.7s linear;
}
@keyframes scaleqv {
  0% {
    transform: translateX(-50%) scale(0);
  }
  25% {
    transform: translateX(-50%) scale(0.25);
  }
  50% {
    transform: translateX(-50%) scale(0.5);
  }
  75% {
    transform: translateX(-50%) scale(0.75);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
.overview .carousel-control-prev {
  color: black;
  left: -60px;
  width: 50px;
  height: 100%;
}
.overview .carousel-control-next {
  color: black;
  right: -60px;
  width: 50px;
  height: 100%;
}
/*===============Blogs===============  */
.blog .blog__heading {
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 4rem;
}
.blog .blog__list {
  padding-bottom: 150px;
}
.blog .blog__item .blog__item--content {
  max-width: 360px;
}
.blog .blog__item .blog__item--content .blog__text-link {
  display: block;
  margin: 10px 0px;
  text-decoration: none;
  color: #000;
}
.blog .blog__item .blog__item--content .blog__text-link:hover {
  transition: 0.5s;
  color: #6666ffa1;
}
.blog .blog__list .blog__item .blog__item--thumb {
  overflow: hidden;
}
.blog .blog__list .blog__item .blog__item--thumb:hover img {
  transition: 0.5s;
  transform: scale(1.2);
}
/*===============Footer===============  */
footer {
  padding: 10px;
  background-color: #000000db;
}
footer .footer__categories--col .footer__categories--categories-heading {
  padding: 20px 0px;
  margin-left: 20px;
  color: #fff;
}
footer .container .row .footer__categories--col .footer__categories--list a {
  color: #fff;
}
footer .container .footer__categories--col .footer__categories--list a:hover {
  color: #6666ffa1;
}
footer .footer__help--col .footer__help--help-heading {
  padding: 20px 0px;
  margin-left: 20px;
  color: #fff;
}
footer .container .row .footer__help--col .footer__help--list a {
  color: #fff;
}
footer .container .footer__help--col .footer__help--list a:hover {
  color: #6666ffa1;
}
.footer__getintouch--getintouch-heading {
  padding: 20px 0px;
  color: #fff;
}
footer .footer__geintouch--col .icon-getintouch span .fa-brands {
  color: white;
}
footer .footer__geintouch--col .icon-getintouch span .fa-brands:hover {
  color: #6666ffa1;
  transition: 0.7s;
}
.footer__newsletter--newsletter-heading {
  padding: 20px 0px;
  color: #fff;
}
footer .footer__input {
  max-width: 200px;
  background-color: #4f4f4f00;
  color: white;
  border: none;
  border-bottom: 1px solid #ffffff86;
}
footer .footer__input::placeholder {
  color: #ffffff86;
}
footer .footer__input:focus {
  outline: none;
}
.footer__newsletter--input {
  position: relative;
}

.footer__newsletter--input::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 2px;
  background-color: #6666ffa1;
  transition: 0.5s linear;
}
.footer__newsletter--input.active__input-footer::before {
  width: 185px;
}
.btn-sub {
  text-align: center;
  display: block;
  margin-top: 20px;
  color: white;
  font-size: 2.5rem;
  background-color: #6666ffa1;
  width: 180px;
  padding: 0 20px;
}
.btn-sub:hover {
  color: #6666ffa1;
  background-color: white;
  transition: 0.5s;
}
.copyright {
  margin-top: 30px;
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.497);
}
