/* ===============Dung base=============== */
* {
  box-sizing: border-box;
}
html {
  /* 1rem =10px */
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  width: 100vw;
  overflow-x: hidden;
}
:root {
  --bg-coating: #6666ff60 !important;
}
/*===============common===============  */
.active {
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #000;
}
/*===============header===============  */
header .btn:hover {
  background-color: white !important;
  color: black !important;
}
/* modal your cart */
.your-cart {
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.171);
  z-index: 3000;
}
.your-cart__box {
  width: 30%;
  height: 100vh;
  background-color: #fff;
}
.btn-close__modal-your-cart:hover {
  transition: 0.5;
  background-color: #000;
  color: #fff;
}
.cart-item__heading a {
  display: block;
}
.cart-item__heading a:hover {
  transition: 0.5s;
  color: #6666ffa1;
}
.total {
  margin-top: 100px;
}

.btn-yourcart a {
  font-weight: bold;
  width: 120px;
  height: 40px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.btn-yourcart a:hover {
  transition: 0.5s;
  color: #fff;
  background-color: #6666ffa1;
}
/* modal help&FAQs */
.help-faqs .card-box .card {
  width: 40%;
  height: auto;
  box-shadow: 10px 10px 10px gray;
}
.help-faqs .card-box {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000045;
  z-index: 4000;
}
.help-faqs .card-box .card-body {
  height: 310px;
}
textarea {
  resize: none;
}
/* modal sign out */
.modal-signout .box-signout {
  width: 450px !important;
  height: 250px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.375);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000;
}
.modal-signout .box-signout .card-body {
  height: 100px !important;
}
.modal-signout .box-signout .card-body .title h5 {
  color: #fff;
  font-size: 2rem;
}
.modal-signout .box-signout .icon--signout i {
  color: #fff;
  font-size: 5rem;
  transform: translateY(50px);
}

/*===============nav===============  */
.logo-header {
  width: 150px;
}
.nav .nav-item .nav-link {
  color: #000;
}
.input-group {
  max-width: 200px;
}
.input-group .input-search {
  opacity: 0;
  transition: opacity 0.5s;
  visibility: hidden;
}
.input-group.active-search .input-search {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}
/*===============hero===============  */
.hero .carousel .carousel-inner .carousel-item {
  height: 700px;
}
.slide-item {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  flex-direction: column;
}
.content {
  color: white;
  margin: auto 170px;
}
.hero .carousel .carousel-inner .carousel-item .slide-item .content p {
  font-size: 2.5rem;
}
.hero .carousel .carousel-inner .carousel-item .slide-item .content span {
  display: block;
  font-size: 4.5rem;
}
.hero .carousel .carousel-inner .carousel-item .slide-item .content a {
  padding: 0 20px;
}
.hero
  .carousel
  .carousel-inner
  .carousel-item
  .slide-item
  .content
  .hero__btn--shopnow {
  background-color: #6666ff60;
}
.hero
  .carousel
  .carousel-inner
  .carousel-item
  .slide-item
  .content
  .hero__btn--shopnow:hover {
  background-color: #000;
  transition: 0.5s;
}
.feature {
  position: relative;
}
.hot {
  position: absolute;
  top: -7px;
  left: 44px;
}
/*===============category===============  */
main .category {
  height: 300px;
  width: 100vw;
}
main .category .category__item {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.197);
  position: relative;
}
main .category .category__item .btn-shop {
  text-align: center;
  width: 100px;
  height: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.197);
}
main .category .category__item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: var(--bg-coating);
  opacity: 0;
}
main .category .category__item:hover .overlay {
  opacity: 1;
}
main .category .category__item .btn-shop {
  display: none;
  transform: translate(20px, -72px);
}
main .category .category__item:hover .btn-shop {
  color: #fff;
  font-size: 1.5rem;
  display: block;
  animation: scale 0.5s linear;
}
@keyframes scale {
  0% {
    transform: translate(20px, -72px) scale(0);
  }
  25% {
    transform: translate(20px, -72px) scale(0.25);
  }
  50% {
    transform: translate(20px, -72px) scale(0.5);
  }
  75% {
    transform: translate(20px, -72px) scale(0.75);
  }
  100% {
    transform: translate(20px, -72px) scale(1);
  }
}

main .category .category__item .title {
  margin: 50px;
}
main .category .category__item:hover .title {
  color: #fff;
}
main .category .category__item .title .category__item--title-header {
  font-size: 3.5rem;
}
/*===============over view===============  */
.overview .overview__heading h2 {
  font-size: 4rem;
}
.overview .overview__heading .overview__list .overview__item:hover {
  border-bottom: 1px solid black;
  font-weight: bold;
  transition: 0.5s;
}
.overview
  .overview__heading
  .overview__list
  .overview__item.overview__item--active {
  border-bottom: 1px solid black;
  font-weight: bold;
}

.overview .container .carousel .name-item:hover {
  color: #6666ffa1 !important;
}
.overview .container .carousel .heart1:hover {
  background-image: url(../images/icon-heart-02.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overview .carousel .thumb {
  height: 500px;
  overflow: hidden;
}
.overview .carousel .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.overview .carousel .thumb:hover img {
  transform: scale(1.25);
}
.thumb {
  position: relative;
}
.thumb .quick-view {
  background: #fff;
  color: #000;
  border: none;
  transition: 0.5s;
}
.thumb .quick-view:hover {
  color: #fff;
  background-color: #000;
}
.thumb:hover .quick-view {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  font-size: 2rem;
  z-index: 10;
  animation: scaleqv 0.7s linear;
}
@keyframes scaleqv {
  0% {
    transform: translateX(-50%) scale(0);
  }
  25% {
    transform: translateX(-50%) scale(0.25);
  }
  50% {
    transform: translateX(-50%) scale(0.5);
  }
  75% {
    transform: translateX(-50%) scale(0.75);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
.overview .carousel-control-prev {
  color: black;
  left: -60px;
  width: 50px;
  height: 100%;
}
.overview .carousel-control-next {
  color: black;
  right: -60px;
  width: 50px;
  height: 100%;
}
/* modal quick view */
.modal-heading {
  font-size: 3.5rem;
}
.modalqv .carousel-control-prev {
  color: black;
  left: 6px;
  width: 50px;
  height: 100%;
}
.modalqv .carousel-control-next {
  color: black;
  right: -5px;
  width: 50px;
  height: 100%;
}
.modalqv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.375);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
}
.modalqv .container {
  background-color: #fff;
  width: 80%;
  height: 90%;
}
.modal-detail .modal-detail__form form select {
  max-width: 250px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.108);
  padding: 10px 20px;
}
.form-item {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__add-to-cart {
  display: block;
  width: 150px;
  height: 30px;
  background-color: #6666ffa1;
  text-align: center;
  color: white;
  margin-left: -30px;
}
.add-to-cart:hover .btn__add-to-cart {
  background-color: black;
  transition: 0.5s;
}
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-top: 20px;
}
.quantity .input-group input {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.09);
  border-left: none;
  border-right: none;
  border-color: rgba(0, 0, 0, 0.09);
}
.quantity .input-group button {
  width: 50px;
  height: 50px;
  background-color: white;
  border-color: rgba(0, 0, 0, 0.09);
}
.active-border {
  border: 1px solid black;
}
.icon-close {
  position: absolute;
  top: 10px;
  right: 129px;
}
/* modal add to cart */
.modal-add__box {
  width: 500px;
  height: 350px;
  background-color: #fff;
  inset: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-add {
  position: fixed;
  background-color: #00000024;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}
.circle {
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #00000024;
  border-radius: 50%;
  margin-top: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle::after {
  position: absolute;
  top: 0;
  left: -2px;
  content: "";
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  border: 3px solid transparent;
  border-radius: 50%;
  margin-top: -2px;
  animation: borderSuccess 0.5s linear;
}
.circle i {
  font-size: 36px;
  position: relative;
  z-index: 1;
}
@keyframes borderSuccess {
  0% {
    border-top-color: rgba(4, 192, 4, 0);
    border-right-color: rgba(4, 192, 4, 0);
    border-bottom-color: rgba(4, 192, 4, 0);
    border-left-color: rgba(4, 192, 4, 0);
  }
  25% {
    border-top-color: rgba(4, 192, 4, 0.434);
    border-right-color: rgba(4, 192, 4, 0);
    border-bottom-color: rgba(4, 192, 4, 0);
    border-left-color: rgba(4, 192, 4, 0);
  }
  50% {
    border-top-color: rgba(4, 192, 4, 0.434);
    border-right-color: rgba(4, 192, 4, 0);
    border-bottom-color: rgba(4, 192, 4, 0);
    border-left-color: rgba(4, 192, 4, 0.434);
  }
  75% {
    border-top-color: rgba(4, 192, 4, 0.434);
    border-right-color: rgba(4, 192, 4, 0);
    border-bottom-color: rgba(4, 192, 4, 0.434);
    border-left-color: rgba(4, 192, 4, 0.434);
  }
  100% {
    border-top-color: rgba(4, 192, 4, 0.434);
    border-right-color: rgba(4, 192, 4, 0.434);
    border-bottom-color: rgba(4, 192, 4, 0.434);
    border-left-color: rgba(4, 192, 4, 0.434);
  }
}
.close__modal-add {
  position: absolute;
  top: 66%;
  left: 61%;
  width: 70px;
  height: 50px;
  background-color: #6666ffa1;
}

/*===============Blogs===============  */
.blog .blog__heading {
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 4rem;
}
.blog .blog__list {
  padding-bottom: 150px;
}
.blog .blog__item .blog__item--content {
  max-width: 360px;
}
.blog .blog__item .blog__item--content .blog__text-link {
  display: block;
  margin: 10px 0px;
  text-decoration: none;
  color: #000;
}
.blog .blog__item .blog__item--content .blog__text-link:hover {
  transition: 0.5s;
  color: #6666ffa1;
}
.blog .blog__list .blog__item .blog__item--thumb {
  overflow: hidden;
}
.blog .blog__list .blog__item .blog__item--thumb:hover img {
  transition: 0.5s;
  transform: scale(1.2);
}

/*===============Footer===============  */
footer {
  padding: 10px;
  background-color: #000000db;
}
footer .footer__categories--col .footer__categories--categories-heading {
  padding: 20px 0px;
  margin-left: 20px;
  color: #fff;
}
footer .container .row .footer__categories--col .footer__categories--list a {
  color: #fff;
}
footer .container .footer__categories--col .footer__categories--list a:hover {
  color: #6666ffa1;
}
footer .footer__help--col .footer__help--help-heading {
  padding: 20px 0px;
  margin-left: 20px;
  color: #fff;
}
footer .container .row .footer__help--col .footer__help--list a {
  color: #fff;
}
footer .container .footer__help--col .footer__help--list a:hover {
  color: #6666ffa1;
}
.footer__getintouch--getintouch-heading {
  padding: 20px 0px;
  color: #fff;
}
footer .footer__geintouch--col .icon-getintouch span .fa-brands {
  color: white;
}
footer .footer__geintouch--col .icon-getintouch span .fa-brands:hover {
  color: #6666ffa1;
  transition: 0.7s;
}
.footer__newsletter--newsletter-heading {
  padding: 20px 0px;
  color: #fff;
}
footer .footer__input {
  max-width: 200px;
  background-color: #4f4f4f00;
  color: white;
  border: none;
  border-bottom: 1px solid #ffffff86;
}
footer .footer__input::placeholder {
  color: #ffffff86;
}
footer .footer__input:focus {
  outline: none;
}
.footer__newsletter--input {
  position: relative;
}

.footer__newsletter--input::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 2px;
  background-color: #6666ffa1;
  transition: 0.5s linear;
}
.footer__newsletter--input.active__input-footer::before {
  width: 185px;
}
.btn-sub {
  text-align: center;
  display: block;
  margin-top: 20px;
  color: white;
  font-size: 2.5rem;
  background-color: #6666ffa1;
  width: 180px;
  padding: 0 20px;
}
.btn-sub:hover {
  color: #6666ffa1;
  background-color: white;
  transition: 0.5s;
}
.copyright {
  margin-top: 30px;
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.497);
}
/*===============about===============  */
.about .about-title {
  color: #fff;
  font-size: 6rem;
  background-image: url(../images/bg-01.jpg);
  padding: 100px 0;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
.about .about-page .story-content .story-paragraph {
  font-weight: light;
  color: rgba(0, 0, 0, 0.489);
  width: 85%;
}

.story-content h3 {
  font-size: 2.5rem;
  padding: 20px 0;
}
.story-img {
  width: 315px;
  height: 315px;
  border: 3px solid rgba(0, 0, 0, 0.474);
}
.story-img img {
  transform: translate(20px, -20px);
}
.mission {
  padding: 100px 0;
}
.mission-img {
  width: 315px;
  height: 315px;
  border: 3px solid rgba(0, 0, 0, 0.474);
}
.mission-img img {
  transform: translate(-20px, -20px);
}
.mission .mission-paragraph,
.quote-text {
  font-weight: light;
  color: rgba(0, 0, 0, 0.489);
  width: 85%;
}
.mission-title {
  font-size: 2.5rem;
  padding: 20px 0;
}
.quote-block {
  margin: 40px 0px;
  padding: 0 20px;
  border-left: 2px solid rgba(0, 0, 0, 0.489);
}
/*===============blog===============  */
.blog .blog-banner img {
  width: 200px;
  object-fit: cover;
}
.blog .blog-banner .blog-banner__heading {
  font-size: 5rem;
}
.blog .blog-banner {
  margin-bottom: 70px;
}
.blog .blog-content .blog-post-item__img img {
  height: 450px;
  object-fit: cover;
  transition: 0.5s;
}
.blog .blog-content .blog-post-item__img {
  overflow: hidden;
}
.blog .blog-content .blog-post-item__img img:hover {
  transform: scale(1.2);
}
.blog .blog-content .blog-post-item__img .blog-post-item__date {
  width: 100px;
  height: 80px;
  top: 15px;
  left: 15px;
  background-color: #fff;
  opacity: 0.7;
}
.blog-post-item__detail {
  margin-bottom: 50px;
}
.blog-post-item__detail--heading:hover a {
  transition: 0.5s;
  color: #6666ffa1;
}
.continue-read:hover {
  transition: 0.5s;
  color: #6666ffa1 !important;
}
.blog-content .sidebar {
  padding: 40px;
  position: relative;
}
.blog-content .sidebar .sidebar-search {
  margin: 0 auto 50px;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
}
.blog-content .sidebar .sidebar-search a i:hover {
  transition: 0.5s;
  color: #6666ffa1;
}
.blog-content .sidebar .sidebar-search .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}
.archive .list-unstyled li:hover a {
  color: #6666ffa1 !important  ;
  transition: 0.5s;
}
.tag .tag-link {
  color: rgba(0, 0, 0, 0.222);
  transition: 0.5s;
  padding: 0 10px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.222);
  border-radius: 45px;
}
.tag .tag-link:hover {
  color: #6666ffa1;
  border-color: #6666ffa1;
}
.pagination {
  margin-bottom: 100px;
}
.pagination .btn-pagination {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.189);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.pagination .btn-pagination:hover {
  color: white;
  background-color: gray;
}
.btn-pagination__active {
  color: white;
  background-color: gray;
}
/*===============shop===============  */
.shop-prod .container .card-body div .heart1:hover {
  background-image: url(../images/icon-heart-02.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-navigation {
  padding: 50px 0px 80px;
}
.product-navigation__text .nav-link-product:hover {
  font-weight: bold;
  color: black !important;
  text-decoration: underline;
}
.product-navigation .product-navigation__text .nav-link-product__active {
  font-weight: bold;
  color: black !important  ;
  text-decoration: underline;
}
.btn-pro-nav button {
  opacity: 0.7;
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.273);
}
.btn-pro-nav button:hover {
  background-color: #6666ffa1;
  color: #fff;
}
/* modal shop__search/filter */
.modal-filter .container {
  margin-top: 50px;
  padding: 20px 0px;
  background-color: rgba(0, 0, 0, 0.066);
}
.modal-fil li:hover {
  color: #6666ffa1 !important;
}
.modal-fil .tag .tag-list .tag-item:hover {
  color: #6666ffa1 !important;
}
.fil-heading {
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 30px;
}
.btn-pro-nav button {
  opacity: 0.7;
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.273);
}
.btn-pro-nav button:hover {
  background-color: #6666ffa1;
  color: #fff;
}
.sort .sort-list {
  list-style-type: none;
}
.sort .sort-list li {
  display: block;
  margin-top: 10px;
}
.price .price-list {
  list-style-type: none;
}
.price .price-list li {
  display: block;
  margin-top: 10px;
}
.color .color-list li {
  margin-top: 5px;
}
.color .color-list .color1:hover {
  font-weight: bold;
  transition: 0.5s;
  color: black !important;
}
.color .color-list .color2:hover {
  font-weight: bold;
  transition: 0.5s;
  color: blue !important;
}
.color .color-list .color3:hover {
  font-weight: bold;
  color: grey !important;
  transition: 0.5s;
}
.color .color-list .color4:hover {
  font-weight: bold;
  color: green !important;
  transition: 0.5s;
}
.color .color-list .color5:hover {
  font-weight: bold;
  transition: 0.5s;
  color: red !important;
}
.color .color-list .color6:hover {
  font-weight: bold;
  color: white !important;
  transition: 0.5s;
}
.tag .tag-list {
  flex-wrap: wrap;
  max-width: 200px;
}
.tag .tag-list .tag-item {
  margin: 10px 10px 0px 0px;
  padding: 0px 10px;
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.26);
  color: rgba(0, 0, 0, 0.26);
  margin-right: 10px;
}
.tag .tag-list .tag-item:hover {
  border: 2px solid #6666ffa1;
  color: #6666ffa1;
}
.modal-search__box {
  max-width: 1500px;
  border: 1px solid rgba(0, 0, 0, 0.203);
}
.shop-modal-search .modal-search__box input {
  width: 80%;
  height: 50px;
}
.shop-modal-search .container {
  margin-top: 50px;
}
.shop-modal-search .icon-searchbox:hover {
  transition: 0.5s;
  color: #6666ffa1;
}
/* shop product */
.shop-prod .card .card-body .card-body__content .card-title {
  font-size: 1.5rem;
}
.shop-prod .card .card-body .card-body__content .card-title:hover {
  color: #6666ffa1;
}
.shop-prod .card .thumb {
  overflow: hidden;
  position: relative;
}

.thumb .quick-view {
  background: #fff;
  color: #000;
  border: none;
  transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 150%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  font-size: 2rem;
  z-index: 10;
}
.thumb:hover .quick-view {
  transform: translate(-50%, 0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.thumb .quick-view:hover {
  color: #fff;
  background-color: #000;
}
.shop-prod .card .thumb:hover img {
  transition: 0.5s;
}

.shop-prod .card .thumb:hover img {
  transform: scale(1.25);
}
.load-more .btn-load-more {
  transition: 0.5s;
  color: #000;
  background-color: rgba(128, 128, 128, 0.237);
  transition: 0.5s;
}
.load-more .btn-load-more:hover {
  background-color: #000;
  color: #fff;
}
